@import "../node_modules/locomotive-scroll/dist/locomotive-scroll.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #fcfcfd;
  user-select: none;
}

/* global.css or styles.css */
[data-scroll-container] {
  overflow: hidden;
  position: relative;
}

[data-scroll-section] {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}


/* Global Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background for the track */
}

::-webkit-scrollbar-thumb {
  background: #6E06F2; /* Solid color for the thumb */
  border-radius: 12px; /* Rounded corners for the scrollbar thumb */
  border: 3px solid rgba(255, 255, 255, 0.2); /* Light border around the thumb for contrast */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, rgba(110, 6, 242, 0.9), rgba(110, 6, 242, 0.6)); /* Gradient effect on hover */
}
