<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
  <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" />
  <link rel="stylesheet" href="../stylesheets/style.css">
  <title>Portfolio.Rohit</title>
</head>

<body>
  <!--Wrapper Main Div-->
  <div class="main">
    <div class="loader"> <!--Loader Div-->
      <!--Loader Top Details -->
      <div class="top_dets">
        <h5 class="reveal">Rohit's . Portfolio</h5>
        <h5 class="reveal">&copy;2023</h5>
      </div>
      <!--Loader Heading-->
      <h1 class="reveal"><span>Rohit </span><span class="Title">Vishwakarma</span><span> is</span> <span>a</span> </h1>
    </div>
    <!--Loader Under Div-->
    <div class="loader_under"></div>

    <div class="home-page">
      <nav>
        <a href="">Rohit Vishwakarma <span class="underline"></span></a>
        <a href="">PlayBook</a>
        <a href="">Social</a>
        <a href="">Contact</a>
      </nav>
    </div>
  </div>



  <!--  LocomotiveJs is needed for Smooth Scrolling -->
  <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
  <!--  Gsap is needed for Basic Effects -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

  <!-- Scroll Trigger is needed for Scroll Effects -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

  <!-- Three.js is needed for 3d Effects -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>

  <!-- ControlKit is needed for Debug Panel -->
  <script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/sheryjs/dist/Shery.js"></script>
  <script src="../javascripts/shery.js"></script>
</body>

</html>